@font-face {
  font-family: 'Ramche';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Ramche';
}

article{
  width:50%; margin:50px auto;
  padding:50px; border:1px solid cornflowerblue;
  border-radius: 30px;
}

section{
  width:50%; margin:50px auto;
  padding:50px; border:1px solid cornflowerblue;
  background-color: aliceblue;
  border-radius: 30px;
}

button{
  font-family: 'Ramche';
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 0;
  background-color: cornflowerblue;
  color: white;
}

input{
  font-family: 'Ramche';
  width:100%; margin:5px 0;
  padding:10px;
}
ul{padding: 0;}

li{ 
  margin: 0;
  padding: 10px; 
  border-bottom:2px dashed cornflowerblue;
  list-style-type: none;
}
*{box-sizing: border-box;}

.active{
  display: none;
}
