
@font-face {
  font-family: 'intelone-mono-font-family-regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2');
  font-weight: 400;
  font-style: normal;
}

*{box-sizing: border-box;}
html{
  font-size: 24px;}
header{
  background-color: #000;
  padding:20px 0;
  text-align: center;
}

header a{
  color:white; padding: 0 20px;
}

article{ 
  width: 50%; margin: 100px auto;
}

article h2{  border-bottom: 2px solid black;

}

a{
  text-decoration: none;
  color:#333;
}

li{
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.total{
  background-color: yellowgreen;
  padding: 50px 0;
  text-align: center;
  color: white;
  font-size: 2rem;
}

input,textarea{
  width: 100%; padding: 10px;
}