ul,li{list-style: none;}
html{
  background-color: black;
}
section{
  width: 90%;
  margin: 0 auto;
}
h3{ color: white;
  
}

header{
  padding: 30px;
  font-size: 40px;
  nav{
    width: 1390px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  .header1{
    a{
      color: white;
    }

  }
  .header2{
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
  a{
    color: white;
  }
  }
  }
}
main{
  h1{
    color: white;
    text-align: center;
  }
  .search{
    > div{
    margin-left: 40px;
    width: 90%;
    display: flex;
    
      input{}
      button{
        margin-left: 20px;
        border: 0;
        border-radius: 20px;
        padding: 10px;
        background-color: red;
        color: white;
        
      }
    }
  }
  .movie{
    h2{ color: white;}
    ul{
      grid-gap: 20px;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
      margin-bottom: 3rem;
      li{
        img{}
        h3{color: white;}
      }
    }
  }
  .tv{
    h2{ color: white;}
    ul{
      grid-gap: 20px;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
      margin-bottom: 3rem;
    }
  }

  
.swiper {
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: white;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 231px;
  height: 370px;
  border-radius: 20px;
  object-fit: cover;
  margin: 0 auto;
}

}

footer{
  section{display: flex;
    flex-direction: column;
    width: 90%;
    div{text-align: center;
      >a{
        font-size: 40px;
        color: white;
        
      }
    }

  ul{ width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    li{
      width: 30%;
      margin: 5px 10px;
      a{ 
        color: white;
        font-size: 24px;
      }
    }
  }
}
}