@font-face {
  font-family: 'KOTRA_BOLD-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  background: url(./pig.avif) no-repeat;
  background-position: bottom;
  background-size: 350px 350px ;
  font-family: 'KOTRA_BOLD-Bold';
}
*{box-sizing: border-box;}
html{
  
  font-size: 22px;}
header{
  background-color: black;
  padding:20px 0;
  text-align: center;
}

header a{
  color:white; padding: 0 20px;
}

article{ 
  width: 80%; margin: 100px auto;
}

article h2{  border-bottom: 2px solid black;

}

a{
  text-decoration: none;
  color:#333;
}

ul{
padding: 0;
}
li{
  display: flex;
  justify-content: space-between;
  font-family: 'KOTRA_BOLD-Bold';
  padding: 15px 0;
  border-bottom: 1px solid green;
}
.codes{
  width: 85%;
  display: flex;
  justify-content: space-between;
}
code{
  font-family: 'KOTRA_BOLD-Bold';
}

span{
  display: flex;
  justify-content: space-around;
  width: 10%;
  padding: 5px;
}

button{
  font-family: 'KOTRA_BOLD-Bold';
  background-color: white;
  border: 0;
  cursor: pointer;
}



.total{
  background-color: rgb(245, 202, 83);
  padding: 50px 0;
  text-align: center;
  color: white;
  font-size: 2rem;
}

input,textarea{
  font-family: 'KOTRA_BOLD-Bold';
  width: 100%; padding: 10px;
}